body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	/**background: #EFEFEF;**/
	//background: #cce9d5 url("../images/bg.jpg");
        background: #fff;
	/**background-color: #cce9d5;**/
	min-height: 1000px;
}

#page
{
	margin-top: 5px;
	margin-bottom: 5px;
	/**background: white;
	border: 1px solid #C9E0ED;**/
}

#page-wrapper {
    background: url("../images/bg-gradient.png") repeat-x -40px 0;
    padding-top: 5px;
}

#header
{
	margin: 0;
	padding: 0;
	/**border-top: 3px solid #C9E0ED;**/
	height: 30px;
}

#lb-top-menu {
    float: left;
    /**width: 925px;**/
}
#lb-top-menu .navbar
{
    width: 100%;
    margin-bottom: 10px;
}

#lb-top-menu .navbar .container
{
    width: 100%;
}

#content
{
    padding: 20px;
    background-color: #FFFFFF;
	/**border: 3px solid #DCDCDC;**/
	border-radius: 9px 9px 40px 40px;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3);
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
	/**box-shadow: 1px 1px 0 #FFFFFF inset, -1px -1px 0 #FFFFFF inset;**/
	margin: 10px auto 0;
	display: inline-block;
	width: 1000px;/**905px;**/
	min-height: 500px;
    float: left;
}

#sidebar
{
	padding: 20px 20px 20px 20px;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
    clear: both;
	/**border-top: 1px solid #C9E0ED;**/
}

#logo
{
	padding: 5px 5px;
	font-size: 22px;
	width: 100px;
	float: left;
}

#mainmenu
{
	/**background:white url(bg.gif) repeat-x left top;**/
	float: left;
	padding-left: 0em;
	
	background-image: -moz-linear-gradient(center top , #FCFCFC 0%, #ECECEC 100%);
	border-color: #EAEAEA #F5F5F5 #F5F5F5;
	border-radius: 5px 5px 5px 5px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	width: 100%; /*835px;*/
}

#mainmenu ul
{
	/**padding:6px 20px 5px 20px;**/
	margin:0px;
}

#mainmenu ul li
{
	/**display: inline;**/
	color: #2883DE;
	cursor: pointer;
	display: inline-block;
	/**font: 18px/37px 'bebas-neue',Helvetica,Arial,sans-serif;**/
	font-size: 14pt;
	text-align: center;
	text-shadow: 1px 1px 0 #FFFFFF;
	border-right: 1px solid #E3E3E3;
	padding: 5px 25px;
}

#mainmenu ul li a
{
	color: #2883DE;
	background-color: transparent;
	font-size: 14px;
	text-decoration: none;
	/**padding-left: 15px;**/
	/**padding: 5px 8px;**/
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #545454;
	/**background-color:#EFF4FA;**/
	text-decoration:none;
	font-weight: bold;
}

#accountmenu
{
	text-align: right;
	height: 20px;
}

#accountmenu ul {
	/**padding: 6px 10px 5px 10px;**/
	margin: 0px;
}

#accountmenu ul li 
{
	display: inline;
}

#accountmenu ul li a
{
	/**color:#ffffff;**/
	background-color:transparent;
	font-size:10px;
	text-decoration:none;
	padding:5px 5px;
}

#accountmenu ul li a:hover, #accountmenu ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}

#inpagetopmenu
{
	//float: left;
	width: 100%;
}

#inpagetopmenu ul {
	/**padding: 6px 10px 5px 10px;**/
	margin: 0px;
}

#inpagetopmenu ul li 
{
	display: inline;
}

#inpagetopmenu ul li a
{
	/**color:#ffffff;**/
	background-color:transparent;
	font-size: 14px;
	text-decoration: none;
	padding: 5px 5px;
}

#inpagetopmenu ul li a:hover, #inpagetopmenu ul li.active a
{
	color: #6399cd;
	background-color: #EFF4FA;
	text-decoration: none;
}

#comment
{
	/**margin-right: 20px;**/
	/*width: 880px;*/
}

div.rounded-container, div.reply-container
{
	background-color: #FFFFFF;
	border: 1px solid #DCDCDC;
	border-radius: 8px 8px 8px 8px;
	box-shadow: 1px 1px 0 #FFFFFF inset, -1px -1px 0 #FFFFFF inset;
	margin: 10px auto 0;
	padding: 10px 10px 10px;
	position: relative;
	text-shadow: 1px 1px 0 #FFFFFF;
}

div.comment-container
{
	background-color: #FFFFFF;
	margin-bottom: 20px;
}

div.comment-container ul
{
	list-style: disc;
}

div.comment-container ol
{
	list-style: decimal;
}

div.reply-container
{
	margin-top: 20px;
}

div.footer-container
{
	margin-top: 10px;
	border-top: 1px solid #ececec;
	clear: both;
	color: #777777;
	font-size: 11px;
	padding-top: 5px;
}

div.rounded-container .header-container
{
	margin-bottom: 10px;
	border-bottom: 1px solid #ececec;
	clear: both;
	color: #a1a2a2;
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 5px;
}

div.reply-container:after
{
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: transparent transparent #DCDCDC;
	border-image: none;
	border-style: solid;
	border-width: 15px;
	content: "";
	display: block;
	left: 50px;
	position: absolute;
	top: -30px;
	width: 0;
}

div.comments-thread
{
	width: 800px; 
	clear: both; 
	padding-top: 5px
}

div.top-new-form
{
	width: 800px; 
	float: left;
}

div.comment-group 
{
	padding-bottom: 10px; 
	width: 100%; 
	height: auto
}

div.fixed-container 
{
	position:relative; 
}

div.floating-fixed
{
	width: 280px; 
	position: fixed; 
	top: 200px; 
	left: 950px;
}

div.info-container
{
	background-color: #F5F5F5;
	background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
	background-repeat: repeat-x;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #B3B3B3;
	color: #777777;
	border: 1px solid #DCDCDC;
	margin: 10px auto 0;
	padding: 10px 10px 10px;
	width: 800px;
	float: left;
	margin-bottom: 10px;
}

div.wiki-header-container
{
	clear: both;
}

.wiki-title
{
	display: inline;
	float: left;
}

.wiki-action-submenu
{
	display: inline;
	float: right;
}

div.wiki-editing-info
{
	clear: both;
	font-style: italic;
}

.blur, .blur-summary
{
	color: #999999;
}

.same-line-right
{
	float: right;
	text-align: right;
	width: 300px;
}

.same-line-left
{
	overflow: hidden;
}

a.simple-action
{
	text-decoration: underline; 
	padding-right: 20px;
}

div.container-header
{
	width:1020px;
	margin: -20px -20px 0 -20px; 
	padding-top: 10px; 
	padding-left: 20px; 
	border-radius: 5px 5px 0 0; 
	height: 70px;
	/**background-color: #DDDDDD; **/
	text-shadow: -1px -1px 0 #F9F9F9; color: #444444;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

div.container-header h1,
div.container-header h2,
div.container-header h3,
div.container-header h4,
div.container-header h5 
{
	display: inline;
	font-family: 'Fjalla One', sans-serif;
	color: #333333; /**#5DA028;**/
}

.lb-grid-header
{
    /**background: url('../images/grid_header_bg.png') repeat;**/
    //background-color: #f5f5f5;
     background-color: rgb(91, 183, 91);
    color: #fff;
}
.lb-grid-header_th{
    text-align: right !important;
}
div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}

#lb-top-shortcuts {
    float: right;
    position: relative;
    top: 15px;
    /**width: 120px;**/
}
#lb-top-shortcuts .navbar
{
    width: 100%;
    margin-bottom:0px;
}

#lb-top-shortcuts .navbar .container
{
    width: 100%;
}
#lb-top-shortcuts .navbar .container li{
    font-size: 11px;
    font-weight: normal;
}

#lb-top-shortcuts .navbar .container li a{
    padding: 5px 10px;
    
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
}
#lb-top-shortcuts .navbar .container li ul li{
    font-size: 13px;
}

.lb-header-right{
    width: 50%;
    text-align: left;
    float: left;
    /**margin-left: -10px;**/
    color: #777;
}

.lb-header-left{
    width: 50%;
     float: right;
    margin-right: 10px;
    margin-top: 17px;
}
#lb-view-header .lb-header-right{
    //width:96px;
    margin-top:10px;
    width: 50%;
}
#lb-view-header .lb-right-header{
  //  width:96px;
    margin-top:5px;
    float: left;
}
#lb-view-header .lb-right-header h3 a{
    //color: #5da028;
    color:#fff;
    margin-left:9px;
    margin-top:2px;
}
#lb-view-header .lb-header-right h3 a{
    //color: #5da028;
    color:#fff;
    margin-left:9px;
    margin-top:2px;
}

#lb-container-header .lb-header-right h3
{
   color: #fff; 
   margin: 0px;
   margin-top: 10px;
}
#lb-container-header .lb-header-left{
    margin-top: 15px;
}
.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a {
    background-color: #5bb75b;
    background-image: linear-gradient(to bottom, #5bb75b, #5bb75b);
    background-repeat: repeat-x;
    color: #ffffff;
    text-decoration: none;
}
/*.lb_group_action{
    background-position: -240px 1px;
}*/
.lb_div_install{
    width:45%;border:1px solid #ccc;margin:auto;background-color:white;margin-top:30px;
}
.lb_header_install{
    padding-bottom:0px; border-bottom: 1px solid Scrollbar;
}
.lb_install_title{
    color: rgb(93, 160, 40); font-family: Comic Sans MS;
}
.lb_install_loading{
    margin-left:343px; margin-top:10px;
}
.lb_div_setup{
    margin-left:38px;padding-bottom:20px;overflow: hidden;
}
.lb_setup_install{
    overflow:hidden; margin-left:22px; margin-right:22px;   border-bottom: 1px solid scrollbar;
    text-align: center;
}
.lb_setup_content{
    display:-moz-groupbox;margin-left:28px ;
}
.lb_setup_title{
    padding-bottom:10px;margin-left:10px;
}
.lb_setup_body{
    float:left;margin-left:10px;
}
.lb_install_button{
    text-align:center;margin-bottom:30px;margin-top:20px;
}
